// tile

.tile {
  display: flex;
  position: relative;
  height: 100%;
  margin: 3px;
  transition: 0.2s ease;
  overflow: hidden;
  box-shadow: 20px 50px 30px 10px var(--dark-bg0-h);

  &:hover > &__overlay {
    opacity: 1;
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
  }

  &__content {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .tile {
    height: 14em !important;
    flex: 1 !important;
  }
}
