// header

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  margin-bottom: 5em;

  &__logo {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    background: none;
    border: none;
    color: $fg;

    .material-icons {
      color: var(--orange);
    }

    &-text {
      font-size: 1.25em;
    }
  }

  &__navigation {
    margin-right: 0;
    height: 100%;
    transition: 0.3s ease;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
  }

  &__link {
    height: 100%;
  }

  &__anchor {
    height: 100%;
    width: 5.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fg;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background: var(--orange);
    }
  }

  &__burguer {
    display: none;
    align-items: center;
    justify-content: center;
    background: none;
    min-height: 4em;
    min-width: 4em;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: $fg;

    .material-icons {
      font-size: 2em;
    }

    &:hover {
      background: var(--dark-bg4);
    }

    &:hover + nav {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.ityped-cursor {
  font-size: 1.75rem;
  color: var(--orange);
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    height: 10em;

    &__burguer {
      display: flex;
      z-index: 2;
    }

    &__logo {
      display: flex;
      align-items: center;
      height: 8em;
    }

    &__navigation {
      position: absolute;
      top: 0;
      opacity: 0;
      transform: translateY(-5em);
      height: 10em;
      background: $bg;

      &:hover {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &__anchor {
      margin: 0;
      height: 5em;
    }
  }
}
