@font-face {
  font-family: 'Scientifica';
  src: url('./scientifica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scientifica';
  src: url('./scientificaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Scientifica';
  src: url('./scientificaItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
