// linkedin

.linkedin {
  position: relative;
  min-height: 14em;
  width: 100%;
  background: var(--dark-bg0-h) url('assets/img/linkedin.svg');
  background-size: 6em 6em;
  background-position: center;
  background-repeat: no-repeat;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
