// footer

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5em;
  height: 10em;

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
  }

  &__link {
    color: var(--orange);
    margin: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
